$primary: #2b91ff;
$dark: #0E1012;
$btn-border-radius: 18px;
$btn-border-radius-lg: 22px;
$btn-padding-x-lg: 20px;
$dropdown-link-hover-bg: #2b91ff;
$dropdown-link-hover-color: #ffffff;

$input-btn-focus-width: 0;
$input-btn-focus-box-shadow:    0 0 0;



.pimp::before {
    display: block;
    content: '';
    height: 80px;
   
}

.pimp {
    min-height:200vh;
}


.glass {
    background-color: rgba(15, 15, 15, 0.15);  
    backdrop-filter: blur(7px);
}


.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

#hotel-img {
    border-radius: .6em;
}

#map {
    width:100%;
    height:100%;
    border-radius: .5em;
}

#user-card {
    max-width: 300px;
}



@import '../node_modules/bootstrap/scss/bootstrap';


@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;700&display=swap');


* {
    font-family: Signika, sans-serif;
}


#showcase {
    background: url('https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
    z-index: 2;
}

#showcase::before {
    position: absolute;
    content: '';
    top:0;
    right:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.671);
    z-index:-1;
    
}



@media (max-width:576px) {
    #flight {
        order:-1;
    }
}


@media (min-width:768px) {

    #showcase-text {
        text-align: center;
        width:50%;
    }

}

@media (max-width:500px) {
    .container{
        width:100%;
    }

}

.navbar-toggler {
    border: none;

}

.navbar-toggler:focus {
    box-shadow: none;
}


#reg {
    border:1px solid rgb(190, 190, 190);
    border-radius: 1em;
    min-width: 320px;
}