<body class='bg-dark pimp'>

    <!-- header -->
    
    <header>

        <!-- navbar -->
        <div class="container fixed-top px-0 glass">
            <nav class="navbar navbar-expand-lg navbar-light  p-3">
                <div class="container-fluid">
                    <a class="navbar-brand text-light fw-bold font-big" href="#">Traveloo</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
                        <span class="iconify text-light" data-icon="fluent:text-align-right-24-filled" data-inline="false"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="menu">
                        <div class="navbar-nav ms-auto">     
                            <a class="nav-link active text-light mx-2" href="#">Home</a>
    
                            <li class="nav-item dropdown mx-2">
                                <a class="nav-link dropdown-toggle text-light" href="#" id="flightsDropdown" role="button" data-bs-toggle="dropdown">
                                  Flights
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="flightsDropdown">
                                    <li class="bg-hovers"><a class="dropdown-item" href="#">Domestic</a></li>
                                    <li class="bg-hovers"><a class="dropdown-item" href="#">International</a></li>
                                    <li class="bg-hovers"><a class="dropdown-item" href="#">Special flights</a></li>
                                </ul>
                            </li>
    
    
                            <li class="nav-item dropdown mx-2">
                                <a class="nav-link dropdown-toggle text-light" href="#" id="hotelsDropdown" role="button" data-bs-toggle="dropdown">
                                  Hotels
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="hotelsDropdown">
                                    <li><a class="dropdown-item" href="#">Star Hotels</a></li>
                                    <li><a class="dropdown-item" href="#">Budget friendly</a></li>
                                    <li><a class="dropdown-item" href="#">Cottages</a></li>
                                </ul>
                            </li>
                        </div>
                        <div class="ms-auto">
                            <a href="/user/register" class="btn btn-primary mx-1 text-light d-none d-sm-inline">Register</a>
                            <a href="/user/login" class="btn text-decoration-none mx-1 text-light d-none d-sm-inline">Login</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        
    </header>
    


    <!-- showcase -->
    <section class="p-5" id="showcase">
        <div class="container">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <div class="text-light my-5 h1 fw-bolder text-center" id="showcase-title">Want a wonderful <span class="text-primary">travel</span> experience</div>
                <div>
                    <div class="d-flex w-100 align-items-center justify-content-center">
                        <p class="lead text-light fw-bold text-center my-2"  id="showcase-text">we got you, we arrange your travel requirements
                            let it be <span class="text-primary">hotels </span>, <span class="text-primary"> flights</span>
                            or anything at your budget. Have Traveloo as your travel partner now!
                        </p>
                    </div>
                </div>
                

                <a href="#" class="btn btn-primary btn-lg text-light mt-4 mb-3"> <i class="bi bi-download mx-2"></i> Install Now </a>
            </div>
            
        </div>
    </section>


    <div class="p-sm-5">
    </div>

    <!-- hotels section -->
    <section class="p-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-md">
                    <img class="img-fluid" id="hotel-img" src="https://images.unsplash.com/photo-1582719508461-905c673771fd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=625&q=80" alt="hotels">
                </div>
                <div class="col-md d-flex flex-column align-items-center">
                    <div class="h2 text-light text-center fw-bold mt-1 mb-5">Hotels at your <span class="text-primary">desired </span> style</div>

                    <p class="text-light lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non blanditiis quos libero, tempore sequi aliquid!</p>
                    <p class="text-light lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi quia placeat accusantium molestias veritatis fugit dolorem, sint, dicta earum voluptatibus possimus iusto maxime ullam vero?</p>
                    <p class="text-light lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Est doloremque error nisi minima ipsum obcaecati libero sit aspernatur quidem
                        corrupti consequatur, minus quis. Velit soluta inventore quae dicta voluptatibus
                        voluptatum, molestiae voluptas reiciendis officiis quo!
                    </p>

                    <a href="#" class="btn btn-primary btn-lg text-light mt-4 mb-3">
                        See hotels
                    </a>
                </div>
            </div>
        </div>
    </section>

    <div class="p-sm-5">
    </div>


    <!-- flights section -->
    <section class="p-5">
        <div class="container">
            <div class="row g-4">
                
                <div class="col-md d-flex flex-column align-items-center">
                    <div class="h2 text-light text-center fw-bold mt-1 mb-5">Book Flights on the <span class="text-primary">Go</span></div>

                    <p class="text-light lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non blanditiis quos libero, tempore sequi aliquid!</p>
                    <p class="text-light lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi quia placeat accusantium molestias veritatis fugit dolorem, sint, dicta earum voluptatibus possimus iusto maxime ullam vero?</p>
                    <p class="text-light lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Est doloremque error nisi minima ipsum obcaecati libero sit aspernatur quidem
                        corrupti consequatur, minus quis. Velit soluta inventore quae dicta voluptatibus
                        voluptatum, molestiae voluptas reiciendis officiis quo!
                    </p>

                    <a href="#" class="btn btn-primary btn-lg text-light mt-4 mb-3">
                        Book Flights
                    </a>
                </div>

                <div class="col-md" id='flight'>
                    <img class="img-fluid" id="hotel-img" src="https://images.unsplash.com/photo-1603041080359-2f930d7db86e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="flights">
                </div>

            </div>
        </div>

    </section>


    <!-- packages section -->
    <section class="p-5">
        <div class="container">
            
            <div class="h1 text-light text-center my-5">Tour Packages</div>
            <div class="row g-4">

                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-body d-flex flex-column align-items-center">
                            <h3 class="card-title text-center my-2 mb-4 text-primary fw-bold">Friendly Budget package</h3>
                            

                            <p class="card-text lead align-self-start px-3"> <i class="bi bi-x-circle-fill text-danger mx-1"></i> Star Hotels and Lodges</p>
                            <p class="card-text lead align-self-start px-3"> <i class="bi bi-check-circle-fill text-success mx-1"></i> Cool and budget amenities</p>
                            <p class="card-text lead align-self-start px-3"> <i class="bi bi-x-circle-fill text-danger mx-1"></i> Premium suggestions</p>
                            <p class="card-text lead align-self-start px-3"> <i class="bi bi-check-circle-fill text-success mx-1"></i>Travel Discounts</p>

                            <div class="d-flex align-items-center justify-content-between w-100 px-2">
                                <div class="h3 mt-2">$199</div>
                                <a href="#" class="btn btn-primary btn-lg text-light my-2">
                                    Buy Now
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-body d-flex flex-column align-items-center">
                            <h3 class="card-title text-center my-2 mb-4 text-primary fw-bold">Freemium Fun package</h3>
                            

                            <p class="card-text lead align-self-start px-3"> <i class="bi bi-check-circle-fill text-success mx-1"></i> Star Hotels and Lodges</p>
                            <p class="card-text lead align-self-start px-3"> <i class="bi bi-check-circle-fill text-success mx-1"></i> Cool and budget amenities</p>
                            <p class="card-text lead align-self-start px-3"> <i class="bi bi-x-circle-fill text-danger mx-1"></i> Premium suggestions</p>
                            <p class="card-text lead align-self-start px-3"> <i class="bi bi-check-circle-fill text-success mx-1"></i>Travel Discounts</p>

                            <div class="d-flex align-items-center justify-content-between w-100 px-2">
                                <div class="h3 mt-2">$399</div>
                                <a href="#" class="btn btn-primary btn-lg text-light my-2">
                                    Buy Now
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-body d-flex flex-column align-items-center">
                            <h3 class="card-title text-center my-2 mb-4 text-primary fw-bold">Premium Budget package</h3>
                            

                            <p class="card-text lead align-self-start px-3"> <i class="bi bi-check-circle-fill text-success mx-1"></i> All Star Hotels and Lodges</p>
                            <p class="card-text lead align-self-start px-3"> <i class="bi bi-check-circle-fill text-success mx-1"></i> Royals amenities</p>
                            <p class="card-text lead align-self-start px-3"> <i class="bi bi-check-circle-fill text-success mx-1"></i> Premium suggestions</p>
                            <p class="card-text lead align-self-start px-3"> <i class="bi bi-check-circle-fill text-success mx-1"></i>Travel Discounts</p>

                            <div class="d-flex align-items-center justify-content-between w-100 px-2">
                                <div class="h3 mt-2">$699</div>
                                <a href="#" class="btn btn-primary btn-lg text-light my-2">
                                    Buy Now
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="p-sm-5">      
    </div>

    <!-- map section -->
    <section class="p-5">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <div id="map">
                    </div>
                </div>

                <div class="col-md d-flex flex-column align-items-center">
                    <div class="h2 text-light text-center fw-bold mt-1 mb-5"> Anywhere on the <span class="text-primary">Map</span> </div>

                    <p class="text-light lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non blanditiis quos libero, tempore sequi aliquid!</p>
                    
                    <p class="text-light lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Est doloremque error nisi minima ipsum obcaecati libero sit aspernatur quidem
                        corrupti consequatur, minus quis. Velit soluta inventore quae dicta voluptatibus
                        voluptatum, molestiae voluptas reiciendis officiis quo!
                    </p>

                    <p class="text-light lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, officiis? Officia neque deserunt sapiente modi animi soluta necessitatibus officiis doloremque.</p>

                    <a href="#" class="btn btn-primary btn-lg text-light mt-4 mb-3">
                        See places
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- trusted companies section -->
    <section class="p-5">
        <div class="container">
            <h1 class="text-light text-center my-4">Trusted Companies</h1>

            <div class="d-flex align-items-center justify-content-center flex-wrap ">
                <div class="p-4">
                    <img src="https://cdn.worldvectorlogo.com/logos/google-2015.svg" width="150px" alt="google">
                </div>
                <div class="p-4">
                    <img src="https://cdn.worldvectorlogo.com/logos/netflix-3.svg" width="150px" alt="google">
                </div>
                <div class="p-4">
                    <img src="https://cdn.worldvectorlogo.com/logos/airbnb.svg" width="150px" alt="google">
                </div>
                <div class="p-4">
                    <img src="https://cdn.worldvectorlogo.com/logos/burger-king-4.svg" width="150px" alt="google">
                </div>
                <div class="p-4">
                    <img src="https://cdn.worldvectorlogo.com/logos/coca-cola.svg" width="150px" alt="google">
                </div>
                <div class="p-4">
                    <img src="https://cdn.worldvectorlogo.com/logos/microsoft-5.svg" width="150px" alt="google">
                </div>
                
            </div>
        </div>
    </section>

    <!-- faq section -->
    <section class="p-5">
        <div class="container">
            <h1 class="text-light text-center my-5">Frequently asked questions</h1>
            <div class="accordion" id="accordionPanelsStayOpenExample">

                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    Are hotels too expensive in popular places?
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi impedit adipisci aliquid consequatur? Non alias quae at ad maxime, sequi quibusdam modi, consequuntur ea illum voluptate repellendus rerum explicabo ipsam error ab vel exercitationem, minus itaque nihil enim placeat consequatur eaque molestias! Alias, et sit corporis numquam ullam amet eaque officia! Nam accusamus in dolorum cumque quis repudiandae? Quas, nobis.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      How can i get Flights for cheap price at the same day of departure?
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos eaque, possimus delectus libero nihil amet ut, saepe excepturi ducimus repellat facilis, iure consectetur ipsum fuga nisi. Quas ducimus error ipsum dicta alias ipsa explicabo dolores, placeat modi, aut illum architecto repellendus asperiores molestias iste, sed quo id repellat libero soluta.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                      Is there any discounts for regular custumer?
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, soluta magni? Non dolor dolorem tempore, nostrum atque iusto molestias aspernatur magni ab, libero quod expedita consequatur odio qui illo adipisci?
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour">
                     For a family package how many people are allowed?
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum commodi officiis eius voluptatibus accusamus laboriosam facere voluptas enim quisquam assumenda ea, consectetur quod aliquid voluptatem a? Labore consequatur molestias consectetur, accusantium iure facilis necessitatibus vitae eaque. Reprehenderit asperiores voluptatibus maiores, sint illum ad temporibus, quasi dolorum a impedit distinctio culpa.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive">
                    How do i get my tourist visa?
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem saepe error numquam quo repudiandae et incidunt cupiditate a praesentium facilis perspiciatis aut perferendis beatae recusandae facere maiores quas, magni id. Debitis laborum molestias, eaque voluptates quibusdam necessitatibus ut consectetur iusto numquam, laudantium hic modi eius unde omnis animi sint esse rerum, officia optio. Accusamus dolor sed veritatis deserunt nulla aperiam est repudiandae dolorem nisi qui, magnam quis iure nam officiis.
                    </div>
                  </div>
                </div>
              </div>

              <p class="text-light text-center lead mt-3 d-flex align-items-center justify-content-center"> <a href="#" class="text-light text-decoration-none">view more</a> <i class="bi bi-arrow-right-short"></i> </p>
        </div>
    </section>

    <!-- founder section -->
    <section class="p-5">
        <div class="container">
            <h1 class="text-light text-center my-4">Founders</h1>
            <p class="text-light text-center lead mb-5">
                The pillars and core foundation of the company.
            </p>

            <div class="d-flex flex-wrap align-items-center justify-content-center">

                <div class="card d-flex flex-column align-items-center my-3 mx-5" style="width: 18rem;">
                    

                    <img src="https://randomuser.me/api/portraits/men/11.jpg" class="img-fluid rounded-circle mt-3 mb-2" width="125px" alt="abc">


                    <div class="card-body d-flex flex-column align-items-center">
                        <h4 class="card-title text-primary">Jaiharishan</h4>
                        <p class="card-text">Learner, Web Devoloper, Founder</p>
                        <a href="#" class="btn btn-primary text-light">view page</a>
                    
                        <div class="d-flex justify-content-between w-50 mt-3">

                            <a href="#" class="text-dark"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="text-dark"><i class="bi bi-linkedin"></i></a>
                            <a href="#" class="text-dark"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="text-dark"><i class="bi bi-instagram"></i></a>
                        </div>
                    </div>
                </div>
            
                <div class="card d-flex flex-column align-items-center my-3 mx-5" style="width: 18rem;">
                        

                    <img src="https://randomuser.me/api/portraits/men/14.jpg" class="img-fluid rounded-circle mt-3 mb-2" width="125px" alt="abc">


                    <div class="card-body d-flex flex-column align-items-center">
                        <h4 class="card-title text-primary">Cody Jonnes</h4>
                        <p class="card-text">Learner, App Dev, CoFounder</p>
                        <a href="#" class="btn btn-primary text-light">view page</a>
                    
                        <div class="d-flex justify-content-between w-50 mt-3">

                            <a href="#" class="text-dark"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="text-dark"><i class="bi bi-linkedin"></i></a>
                            <a href="#" class="text-dark"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="text-dark"><i class="bi bi-instagram"></i></a>
                        </div>
                    
                    
                    </div>
                </div>

                <div class="card d-flex flex-column align-items-center my-3 mx-5" style="width: 18rem;">
                        

                    <img src="https://randomuser.me/api/portraits/men/9.jpg" class="img-fluid rounded-circle mt-3 mb-2" width="125px" alt="abc">


                    <div class="card-body d-flex flex-column align-items-center">
                        <h4 class="card-title text-primary">Larry Garner</h4>
                        <p class="card-text">Learner, AI Expert, CoFounder</p>
                        <a href="#" class="btn btn-primary text-light">view page</a>
                    
                        <div class="d-flex justify-content-between w-50 mt-3">

                            <a href="#" class="text-dark"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="text-dark"><i class="bi bi-linkedin"></i></a>
                            <a href="#" class="text-dark"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="text-dark"><i class="bi bi-instagram"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- footer of the page -->
    <footer class="p-5">
        <div class="container">
            <div class="h5 text-light text-center fw-bold mb-3">Traveloo</div>
            <div class="h5 text-light text-center">copyrights &copy 2021 </div>

            <div class="d-flex w-100 mt-3 justify-content-center">
                <a href="#" class="text-light mx-2"><i class="bi bi-facebook"></i></a>
                <a href="#" class="text-light mx-2"><i class="bi bi-linkedin"></i></a>
                <a href="#" class="text-light mx-2"><i class="bi bi-twitter"></i></a>
                <a href="#" class="text-light mx-2"><i class="bi bi-instagram"></i></a>
            </div>
        </div>
    </footer>


    <!-- scripts JS -->

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiamFpaGFyaXNoYW4iLCJhIjoiY2txb3Ewem9tMDlucDJ1cWFmdTRlcTM5eiJ9.n4yMwyTY1HQF5hlK8MXwOg';
        var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [23, 51],
        zoom:'5'
        });
    </script>

</body>

